.booking__container {
    max-width: 1300px;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.book-input {
    width: 100%;
    max-width: 200px;
    height: 60px;
    margin: 5px;
    padding: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: black;
    background: #e5e5e5;
    border-radius: 5px;
}

.book-input:focus {
    outline: 2px solid #e5502e;
}

.book-table-send {
    width: 100%;
    max-width: 425px;
    height: 60px;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    background-color: #e5502e;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans';
}

.booking-form {
    width: 425px;
}

.booking-title {
    margin-bottom: 15px;
}

@media (max-width: 769px) {
    .booking {
        flex-direction: column;
        height: 800px;
    }
}

@media (max-width: 426px) {

    .booking-form {
        width: 300px;
    }
}

.success-modal {
    display: none;
    width: 400px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    backdrop-filter: blur(10px);
	border: 2px solid rgba(90, 90, 90, 0.5);
    border-radius: 15px;
    padding: 20px 0;
}

.modal-opened{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-modal_title {
    font-size: 21px;
    font-weight: 500;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.success-modal_subtitle {
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    margin: 10px 0;
}

.success-modal_close-btn {
    width: 100px;
    height: 60px;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    background-color: #e5502e;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans';
}


@media (max-width: 376px) {
    .success-modal {
        width: 350px;
    }
}
