.events-title {
	font-size: 60px;
	position: relative;
	margin-bottom: 50px;
}

.events-title::after {
	position: absolute;
	content: '';
	height: 5px;
	width: 100%;
	background: #e5502e;
	bottom: -5px;
	left: 0;
	border-radius: 15px;
}

.events__container {
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
}

.events-tabs {
	display: flex;
	justify-content: space-evenly;
}

.event {
	width: 400px;
	display: flex;
	flex-direction: column;
}

.event-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .25);
	border: 5px solid #fff;
}

.event-name {
	background-color: #e5502e;
}

@media (max-width: 769px) {
	.events-tabs {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 426px) {

	.event {
		width: 400px;
	}
}

@media (max-width: 376px) {
	.event {
		width: 320px;
	}
}