.footer-inner__container {
	background-color: #e5502e;
	height: 250px;
	margin: 0 auto;
}

.contacts__container {
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	color: white;
	align-items: center;
}

@media (max-width: 769px) {
	.yandex-map {
		display: none;
	}

	.footer-inner__container {
		height: 150px;
	}
}

@media (max-width: 426px) {
	.contacts-descr {
		width: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-inner__container {
		height: 160px;
	}
}

.efir-social-footer {
	display: flex;
	flex-direction: column;
}

.efir-social-footer img {
	width: 50px;
	filter: drop-shadow(0px 0px 3px #222);
}

.efir-social-footer img:hover {
	transition: filter .5s ease;
	width: 50px;
	filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}

.footer-social-tab {
	margin-top: 10px;
	display: flex;
}